/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: $default-font-size;
  font-weight: bold;
  line-height: 1.25;
  z-index: 1;
  transition: all ease 0.69s;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all ease 0.37s;
  }
}

/* Hero Style */
.cta-btn--hero {
  @include supportColorForIE11();
  border-image: linear-gradient(
    150deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  border-image-slice: 1;
  @include supportIE11() {
    color: $secondary-color !important;
    &:hover {
      color: $white-color !important;
    }
  }

  @include respond(phone) {
    background-image: none;
    -webkit-text-fill-color: $secondary-color;
  }

  &::after {
    background-image: linear-gradient(
      150deg,
      $primary-color 0%,
      $secondary-color 100%
    );

    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: $white-color;
    text-decoration: none;

    @include respond(phone) {
      -webkit-text-fill-color: $secondary-color;
    }

    &::after {
      width: 100%;
      height: 100%;
    }
  }
}

/* Resume Style */
.cta-btn--resume {
  color: $white-color;
  &::after {
    background: $white-color;
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;

    &::after {
      height: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}
